{% if env_token_name is not none %}import os{% endif %}

from pydantic import BaseModel, Field
from typing import Optional, Union

class APIConfig(BaseModel):
    base_path: str = {% if servers|length > 0 %} '{{ servers[0].url }}' {% else %} 'NO SERVER' {% endif %}

    verify: Union[bool, str] = True
    access_token : str = ''
    timeout: Optional[int] = None

  
class HTTPException(Exception):
    def __init__(self, status_code: int, message: str):
        self.status_code = status_code
        self.message = message
        super().__init__(f"{status_code} {message}")

    def __str__(self):
        return f"{self.status_code} {self.message}"
